In [2]:
import numpy as np 
import pandas as pd

In [6]:
df = pd.read_csv('placement.csv')

In [8]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [12]:
df.shape

(100, 4)